{% extends "base.html" %}
{% block title %}
Přidat klub
{% endblock %}
{% block content %}

<div class="container">
    <div class="col-lg-12">
        <h2 class="mt-2">Přidat klub</h2>
        <form method="post" novalidate>
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-3 mb-3">
                    {{ form.club_id.label_tag }}
                    {{ form.club_id }}
                    {% for error in form.club_id.errors %}
                    <div class="text-danger">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="col-lg-5 mb-3">
                    {{ form.name.label_tag }}
                    {{ form.name }}
                    {% for error in form.name.errors %}
                    <div class="text-danger">{{ error }}</div>
                    {% endfor %}
                </div>
            </div>
            <button type="submit" class="btn btn-primary my-5">Přidat klub</button>
        </form>
    </div>
</div>

{% endblock content %}