{% extends 'base.html' %}
{% load static%}
{% block title %} {{ person.fname }} {{ person.sname }} {% endblock title %}

{% block content %}

<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-5"><img class="img-fluid rounded mb-4 mb-lg-0 shadow bg-body"
                src="{% static 'img/avatar.png' %}" alt="{{ person.fname }} {{ person.sname }}" /></div>
        <div class="col-lg-7">
            <h1 class="fw-bold">{{ person.fname }} {{ person.sname }}</h1>
            <h6 class="fst-italic fw-normal">Evidenční č. {{ person.person_id }} </h6>
            <h6 class="fw-normal"><strong>Klub:</strong> {{ person.club.name }}</h6>
            <h6 class="fw-normal"><strong>Datum narození:</strong> {{ person.date_of_birth }}</h6>
            <div class="row mt-3">
                {% if is_trainer %}
                <div class="col-lg-6">
                    <div class="card" style="width: 19rem;">
                        <div class="card-header">
                            <strong>
                                Trenér
                            </strong>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Licence: {{ trainer.license_number }}</li>
                            <li class="list-group-item">Specializace: {{ trainer.specialization.all|join:", "}}</li>
                        </ul>
                    </div>
                </div>
                {% endif %}
                {% if is_referee %}
                <div class="col-lg-6">
                    <div class="card" style="width: 19rem;">
                        <div class="card-header">
                            <strong>
                                Rozhodčí
                            </strong>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Licence: {{ referee.license_number }}</li>
                            <li class="list-group-item">Specializace: {{ referee.specialization.all|join:", "}}</li>
                        </ul>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col">
            <div class="row">
                <div class="col-lg-6">
                    <h2 class="pb-3">Výsledky závodů</h2>
                </div>
                <div class="col-lg-6">
                    <button class="btn btn-primary float-end" type="button" id="button-addon2"><i
                            class="bi bi-plus"></i> <a href="" class="text-white text-decoration-none">Přidat výsledek</a>
                    </button>
                </div>
            </div>
            <div class="row">
                {% if is_shooter %}
                <table class="table table-bordered table-sm">
                    <thead>
                        <tr>
                            <th>Pořadí</th>
                            <th>Závod</th>
                            <th>Datum</th>
                            {% for i in results.0.series %}
                            <th>Položka {{ forloop.counter }}</th>
                            {% endfor %}
                            <th>Skóre</th>
                            <th>Střed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for result in results %}
                        <tr>
                            <td>{{ result.rank }}</td>
                            <td>{{ result.competition.name }}</td>
                            <td>{{ result.competition.date|date:"j. E Y" }}</td>
                            {% for value in result.series %}
                            <td>{{ value }}</td>
                            {% endfor %}
                            <td>{{ result.score }}</td>
                            <td>{{ result.center }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}